# Formato: NombreDeLaActividad Nombre Apellido DNI Fecha(DD/MM/YYYY) Email Direccion(Ciudad Calle Numero)
Introduccion a C++ Ana Garcia 12345678A 20/05/2001 ana.garcia@gmail.com Cordoba Avenida Principal 10




